.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
                transform: translate3d(0%, 0, 0);
        max-height: 100%;
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 100%;
        overflow-y: auto;
        max-height: 100%;
	}
	
	.modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}

/*Right*/
	.modal.right.fade .modal-dialog {
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
                transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.show .modal-dialog {
		right: 0 !important;
	}

/* ----- MODAL STYLE ----- */
	.modal-content {
		border-radius: 0;
		border: none;
	}

	.modal-header {
		border-bottom-color: #EEEEEE;
		background-color: #FAFAFA;
    }
    .modal.modal-double.right.fade.show {
		width: calc(100% - 600px) ;
	}
    @media (min-width: 576px) {
        .modal.right.fade .modal-dialog {
            right: -$modal-md;
            width: $modal-md;
		}
		.modal.modal-double.right.fade .modal-dialog.modal-sm {
            right: -$modal-sm;
			width: $modal-sm;
			border-right: 1px solid $gray-300;
		}
		.modal.modal-double.right.fade.show .modal-dialog.modal-sm {
			right: $modal-md !important;
		}
    }


    @media (min-width: 992px) {
        .modal.right.fade .modal-dialog.modal-xl, .modal.right.fade .modal-dialog.modal-lg {
            right: -800px;
            width: 800px;
        }
    }

    @media (min-width: 1200px) {
        .modal.right.fade .modal-dialog.modal-xl {
            right: -1140px;
            width: 1140px;
        }
	}
	
	.delete-footer{
		 .btn {
		   padding: 0.275rem 1rem;
		 }
	}